/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 10px;
  background-color: #f2f4f3;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.p {
  font-size: 1.1rem;
  color: #0a0908;
}
.flexme {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
}
.container .header-container {
  display: flex;
  flex-flow: row wrap;
  background-image: linear-gradient(#5e503f, #a9927d);
  align-items: center;
  flex-basis: 100%;
  width: 100%;
}
.container .header-container h1 {
  font-size: 5rem;
  border: 1rem double #22333b;
  border-width: 2rem;
  flex-basis: 100%;
  text-align: center;
  margin: 1rem 33rem;
}
.container .header-container h2 {
  font-size: 2rem;
  flex-basis: 100%;
  text-align: center;
}
.container .header-container nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  line-height: 3rem;
  margin-top: 2rem;
}
.container .header-container nav a {
  text-decoration: none;
  color: #22333b;
  font-size: 1rem;
}
.container .main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.container .main .intro {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  flex-basis: 100%;
}
.container .main .intro .intro-text {
  flex-basis: 50%;
  line-height: 1.5rem;
}
.container .main .intro .intro-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.container .main .intro .intro-text p {
  font-size: 1.1rem;
  color: #0a0908;
}
.container .main .intro .face-pic {
  flex-basis: 50%;
  text-align: center;
}
.container .main .intro .face-pic img {
  border-radius: 50%;
}
.container .main .skills {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  margin-top: 1rem;
}
.container .main .skills h3 {
  flex-basis: 100%;
  font-size: 1.5rem;
}
.container .main .skills ul {
  flex-basis: 100%;
  margin: 1rem 0 1rem 0;
  font-size: 1.1rem;
  color: #0a0908;
}
.container .main .skills ul li {
  line-height: 1.5rem;
}
.container .main .work {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
}
.container .main .work h3 {
  flex-basis: 100%;
  font-size: 1.5rem;
}
.container .main .work ul {
  flex-basis: 100%;
  margin: 1rem 0 1rem 0;
  font-size: 1.1rem;
  color: #0a0908;
}
.container .main .work ul li {
  line-height: 1.5rem;
}
.container footer {
  display: flex;
  flex-flow: row wrap;
  background-image: linear-gradient(#a9927d, #5e503f);
  padding: 2rem 4.2rem 6rem 4.2rem;
  flex-basis: 100%;
}
.container footer h2 {
  font-size: 2rem;
  flex-basis: 50%;
  text-align: center;
}
.container footer .contacts {
  flex-basis: 50%;
  padding-left: 14rem;
  font-size: 1.1rem;
  color: #0a0908;
}
